In [1]:
(1, 4, 9, 16, 25)

(1, 4, 9, 16, 25)

In [2]:
(36,)

(36,)

In [3]:
tuple_square = (1, 4, 9, 16, 25)
tuple_square

(1, 4, 9, 16, 25)

In [4]:
tuple_square2 = 1, 4, 9, 16, 25
tuple_square2

(1, 4, 9, 16, 25)

In [5]:
a, b, c, d, e = tuple_square
a, b, c, d, e

(1, 4, 9, 16, 25)

In [6]:
tuple_square[1]

4

In [7]:
tuple_square[2:5]

(9, 16, 25)

In [8]:
tuple_square = (1, 4, 9, 16, 25)
print(tuple_square)
tuple_square = (1, 4, 9, 16, 25, 36, 49)
print(tuple_square)

(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25, 36, 49)

In [9]:
del tuple_square
tuple_square

NameError: name 'tuple_square' is not defined

In [10]:
a, b, c, d, e = ('Sapporo', 'Sendai', 'Tokyo', 'Nagoya', 'Osaka')
g = d + e
g

'NagoyaOsaka'

In [11]:
a, b, c, d, e = (1, 2, 3, 4, 5)
d + e

9

In [12]:
(1, 2, 3, 4, 5) + (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [13]:
tp1 = (1, 2, 3, 4, 5)
tp2 = (1, 2, 3, 4, 5)
[x + y for (x, y) in zip(tp1, tp2)]

[2, 4, 6, 8, 10]

In [14]:
def tpadd(x, y):
    return x + y
list(map(tpadd, tp1, tp2))

[2, 4, 6, 8, 10]

In [15]:
(1, 2, 3, 4, 5) * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)