In [15]:
import sqlite3

db = 'sample.db'

con = sqlite3.connect(db)

csr = con.cursor()

sql = 'create table Employee(name, email, department, position);'
csr.execute(sql)

con.commit()

con.close()

OperationalError: table Employee already exists

In [16]:
import sqlite3
db = 'sample.db'

con = sqlite3.connect(db)

csr = con.cursor()

sql = "insert into Employee(name, email, department, position) \
values('Yamada', 'yamada@abcxyz.co.jp', 'Sales', 'staff');"
csr.execute(sql)
sql = "insert into Employee(name, email, department, position) \
values('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff');"
csr.execute(sql)

sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

sql = "deleta from Employee where name = 'Yamada';"
csr.execute(sql)

sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

sql = "updata Employee set position = 'Manager' where name = 'Suzuki';"
csr.execute(sql)

con.commit()

sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

con.close()

OperationalError: table Employee has no column named department

In [17]:
csr.execute('drop table data_set')
con.commit()

OperationalError: no such table: data_set

In [18]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute('create table human(name, nickname);')

csr.execute("insert into human(name) values('Ichiro');")
csr.execute("insert into human(name) values('Jiro');")
csr.execute("insert into human(name) values('Saburo');")

csr.execute("update human set nickname = 'Lazer' where name = 'Ichiro';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None)]

In [19]:
import sqlite3

In [20]:
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

In [21]:
csr.execute('create table human(name, nickname);')

OperationalError: table human already exists

In [22]:
csr.execute("insert into human(name) values('Ichiro');")
csr.execute("insert into human(name) values('Jiro');")
csr.execute("insert into human(name) values('Saburo');")

In [23]:
csr.execute("update human set nickname = 'Lazer' where name = 'Ichiro';")

In [24]:
csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None), ('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None)]

In [25]:
import sqlite3

db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute("update human set nickname = 'Lazer' where name = 'Jiro';")

csr.execute("delete from human where nickname = 'Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Saburo', None), ('Saburo', None)]